body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
  overflow-x: hidden;
  transition: 0.5s;
}

.zomatologo {
  height: 100px;
  width: 150px;
}
.navbar-button {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 1 rem 2 rem;
  font-size: 1rem;
  margin: 10 px;
  padding: 0.5 rem 1 rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4 px;
  display: block;
}
section {
  margin: 4rem 0;
}

.hero__container {
  margin-top: 1rem;
}

.hero__image__container {
  position: relative;
  width: 100%;
}

.hero__image__shape {
  position: absolute;
  right: 2;
  width: 40%;
  margin-left: 80px;
}

.hero__image {
  position: absolute;
  width: 40%;
  right: auto;
  left: auto;
  top: 89px;
  margin-left: 80px;
  z-index: 2;
  border-radius: 6px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.hero__text {
  font-size: 2.5rem;
  line-height: 2.25rem;
  color: #1d3557;
  font-weight: 900;
  margin-left: 50rem;
  margin-top: 120px;
}
.ba-batton {
  margin-left: 1000px;
  margin-top: 80px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  padding: 1 rem 2 rem;
  font-size: 1rem;
  margin: 10 px;
  padding: 0.5 rem 1 rem;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4 px;
  display: block;
}
.video__footage__container {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video__footage::before {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(1rem, 1rem);
  margin: 760px 490px;
  height: 28%;
  width: 22%;
  z-index: -1;
}
.video_text {
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}
.food__list__container {
  margin-top: 5rem;
  text-align: center;
}

.text-lg {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #1d3557;
  font-weight: 900;
}
.text-xl {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
}
.food__menu__card__list {
  width: 100%;
}
.food__menu__card {
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}
.food__menu__card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.food__menu__card__image {
  border-radius: 6px 6px 0 0;
  width: 100%;
}
.food__menu__card__details {
  padding: 1rem;
  text-align: left;
  color: #1d3557;
}

.food__list__view__more {
  margin: 2rem 0;
  transition: 0.3s;
  color: #fff;
  padding: 1rem;
  border-radius: 6px;
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
.titlec {
  font-size: 3rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
  margin-bottom: 50px;
  margin-left: 370px;
}
.food__list__view__more {
  transition: 0.3s;
  color: #fff;
  padding: 25rem;
  margin-bottom: 500px;
  border-radius: 6px;
  background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
}
/* .restaurant__list__text {
  margin: 1rem 0;
} */

.restaurant__list__container {
  margin-top: 3rem;
}

.restaurant__list__row_1 {
  display: flex;
  align-items: baseline;
}
.restaurant__list__row_2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.restaurant1,
.restaurant2 {
  border-radius: 4px;
  margin: 0 5px;
  position: relative;

  width: 300px;
  height: 300px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant4 {
  border-radius: 4px;
  margin: 0 5px;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant3 {
  border-radius: 4px;
  margin-left: 5px;
  margin-bottom: 100px;
  width: 300px;
  height: 300px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
}
.resturantsheader {
  font-size: 3rem;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
  margin-left: 800px;
  margin-top: 450px;
  position: absolute;
}
.restaurant5 {
  border-radius: 4px;
  margin-top: 320px;
  margin-left: 330px;

  width: 300px;
  height: 220px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: absolute;
}
.email__subcribe__container {
  margin-top: 3rem;
  width: 100%;
  padding: 15px;
  margin-left: 500px;
}

.email__subcribe__input__field {
  display: flex;
  align-items: center;
}
.stayupdated {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 2rem;
  color: #1d3557;
  font-weight: 900;
}

.email__input {
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
  width: 400px;
  padding: 0.5rem;
  border-radius: 4px;
}

.email__input::placeholder {
  color: #bdbcbc;
}
.quote__container {
  position: relative;
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
}
.quote_image_overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background-color: #0a4065;
  opacity: 49%;
}
.quote_image_text {
  color: #fff;
  z-index: 3;
  margin: 0 1rem;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

footer > img {
  width: 300px;
  filter: brightness(0) invert(1);
}

footer > ul {
  margin-top: 4rem;
  color: #fff;
}

footer > ul > li {
  margin: 5px 20px;
  flex-wrap: wrap;
}
